.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
  border-width: 15px;
  background-color: aqua;
  border-color: darkblue; 
  border-style: groove;
}

